<div class="container-fluid bgi p-0">

    <!-- <img class="img-fluid" src="../../../assets/img/bannerImg.jpg"> -->
    <!--  NAVBAR -->
    <div class="container containerPosition">
        <nav class="navbar px-2 p-1 navbarPosition navbar-expand-md text-center justify-content-center navbar-light bg-light">
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav itemAlignment">
                    <a class="nav-link text-white" href="#portfolio1">Portfolios</a>
                    <a class="navbar-brand px-md-2 px-lg-3 px-xl-5 m-0 " href="#"><img class="img-fluid" style="height: 30px; width: 30px;" src="../../../assets/img/logoFinalV.png"></a>
                    <a class="nav-link text-white" href="#news">News</a>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="row textPosition">

        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h1 [@fadeIn] class="font-700 bannerTitle">Portfolios & News.<br> Find out the latest news from the IT world.</h1>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-0 col-sm-0 col-xs-0"></div>
    </div>




</div>