.editedHeight {
    height: 40rem;
}

.padL {
    padding-left: 20%;
}

.padLTable {
    padding-left: 10%;
}

.padT {
    padding-top: 12rem;
}

.padR {
    padding-right: 10%;
}


.card-container {
    position: relative;
    perspective: 1000px;
}

.card {
    position: absolute;
    width: 25rem;
    height: 17rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    transition: 200ms;
    border-radius: 0% !important;
}

.card-1 {
    z-index: 1;
    box-shadow: 5 5 20px rgba(2, 62, 146, 0.682);
}

.card-2 {
    z-index: 2;
    transform: translateX(15%) translateY(-15%);
}

.card-2:hover {
    transform: translateX(17%) translateY(-17%);
    transition: 500ms;
}

@media (max-width: 1260px) {
    .editedHeight {
        height: 44rem;
    }

}

@media (max-width: 996px) {
    .editedHeight {
        height: 52rem;
    }


    .padL {
        padding-left: 20%;
    }

    .padTText {
        margin-top: 7rem;
    }

    .padT {
        padding-top: 12rem;
    }

    .card {
        position: absolute;
        width: 25rem;
        height: 17.5rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
        border-radius: 0% !important;
    }

}

@media (max-width: 990px) {
    .editedHeight {
        height: 52rem;
    }


    .padL {
        padding-left: 25%;
    }

    .padTText {
        margin-top: 7rem;
    }

    .padT {
        padding-top: 12rem;
    }

    .padLOthers {
        padding-left: 10%!important;
    }

    .padROthers {
        padding-right: 10%!important;
    }

    .card {
        position: absolute;
        width: 25rem;
        height: 17.5rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
        border-radius: 0% !important;
    }


}


@media (max-width: 720px) {
    
    .textCenter {
        text-align: center;
    }

    .editedHeight {
        height: 58rem;
    }

    .padTText {
        margin-top: 5rem;
    }

    .padL {
        padding-left: 20%;
    }

    .padT {
        padding-top: 12rem;
    }
      .padLOthers {
        padding-left: 10%!important;
    }

    .padROthers {
        padding-right: 10%!important;
    }

    .card {
        position: absolute;
        width: 20rem;
        height: 14rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
        border-radius: 0% !important;
    }


}


@media (max-width: 430px) {
    .textCenter {
        text-align: center;
    }

    .editedHeight {
        height: 59rem;
    }

    .padL {
        padding-left: 5%;
    }

    .padT {
        padding-top: 10rem;
    }

    .padLOthers {
        padding-left: 10%!important;
    }

    .padROthers {
        padding-right: 10%!important;
    }

    .card {
        position: absolute;
        width: 15rem;
        height: 10rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
        border-radius: 0% !important;
    }
}