<div class="container-fluid editedHeight">
   <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
         <div class="card-container padT padL">
            <div class="card border-0 card-1"></div>
            <div class="card border-0 card-2"><img
                  src="https://ocdn.eu/pulscms-transforms/1/Ayqk9kpTURBXy8xYTNmZjFkNTgwYTMzNWIwYWEzNDEzYTY1ODVlOTgzNy5qcGeSlQMAIc0H0M0EZZMFzQSwzQJY3gABoTAB"
                  class="img-fluid" style="height: 100%; width: 100%;"></div>
         </div>
      </div>
      <div
         class="col-xxl-6 col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12 padT padR padROthers padLOthers padTText textCenter">

         <h2>Bill Gates</h2>
         <p>
            Bill Gates is an American entrepreneur and software developer born in Seattle in 1955. He co-founded
            Microsoft Corporation in 1975, which became the world's largest personal-computer software company. <br><br>

            Gates is widely recognized as a pioneer of the personal computer revolution and has been instrumental in
            transforming the way we work and live. He is also a philanthropist and has donated billions of dollars to
            charity through the Bill and Melinda Gates Foundation, which he founded with his wife in 2000. <br><br>

            Despite stepping down from his leadership role at Microsoft in 2008, Gates remains an influential figure in
            technology and global health initiatives.</p>
      </div>
   </div>
</div>

<div *ngIf="allStockInfo">
   <div class="table-responsive padLTable padR padROthers">
      <table class="table">
         <thead>
            <tr class="d-none d-md-table-row">
               <th scope="col">#</th>
               <th scope="col">Name</th>
               <th scope="col">% of Portfolio</th>
               <th scope="col">Current Price</th>
               <th scope="col">Reported Price</th>
               <th scope="col">Earned</th>
            </tr>
            <tr class="d-sm-table-row d-md-none">
               <th scope="col">#</th>
               <th scope="col">Symbol</th>
               <th scope="col">% of Portfolio</th>
               <th scope="col">Current Price</th>
            </tr>
         </thead>
         <tbody>
            <tr class="d-none d-md-table-row">
               <th scope="row">1</th>
               <td>Canadian National Railway Co</td>
               <td>26.36</td>
               <!-- Use it to change the numbers of decimals, const openPrice = parseFloat(objectValues(allStockInfo)[0]['1. open']).toFixed(2); -->
               <td>${{ objectValues(allStockInfo)[0]['1. open'] }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="border-radius: 50%;" class="bi bg-danger bi-arrow-down-right-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 5.146a.5.5 0 1 0-.708.708L9.243 9.95H6.475a.5.5 0 1 0 0 1h3.975a.5.5 0 0 0 .5-.5V6.475a.5.5 0 1 0-1 0v2.768L5.854 5.146z"/>
                </svg></td>
               <td>${{reportedPrices[0]}}</td>
               <td>@mdo</td>
            </tr>
            <tr class="d-sm-table-row d-md-none">
               <th scope="row">1</th>
               <td>Canadian National Railway Co</td>
               <td>26.36</td>
               <td>@mdo</td>
            </tr>
            <tr class="d-none d-md-table-row">
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>21.35</td>
               <td>${{ objectValues(allStockInfo)[0]['1. open'] }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="border-radius: 50%;" class="bi bg-success bi-arrow-up-right-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
                </svg></td>
               <td>${{reportedPrices[1]}}</td>
               <td>@mdo</td>
            </tr>
            <tr class="d-sm-table-row d-md-none">
               <th scope="row">2</th>
               <td>asdasd</td>
               <td>21.35</td>
               <td>@fat</td>
            </tr>
            <tr class="d-none d-md-table-row">
               <th scope="row">3</th>
               <td>adasdsad</td>
               <td>18.24</td>
               <td>asds</td>
               <td>${{reportedPrices[2]}}</td>
               <td>@mdo</td>
            </tr>
            <tr class="d-sm-table-row d-md-none">
               <th scope="row">3</th>
               <td>adssd</td>
               <td>18.24</td>
               <td>@twitter</td>

            </tr>
            <tr class="d-none d-md-table-row">
               <th scope="row">4</th>
               <td>Canadian National Railway Co</td>
               <td>15.47</td>
               <td>@mdo</td>
               <td>${{reportedPrices[3]}}</td>
               <td>@mdo</td>
            </tr>
            <tr class="d-sm-table-row d-md-none">
               <th scope="row">4</th>
               <td>Canadian National Railway Co</td>
               <td>15.47</td>
               <td>@mdo</td>
            </tr>
            <tr class="d-none d-md-table-row">
               <th scope="row">5</th>
               <td>Canadian National Railway Co</td>
               <td>4.93</td>
               <td>@mdo</td>
               <td>${{reportedPrices[4]}}</td>
               <td>asd</td>
            </tr>
            <tr class="d-sm-table-row d-md-none">
               <th scope="row">5</th>
               <td>Canadian National Railway Co</td>
               <td>4.93</td>
               <td>@mdo</td>
            </tr>
         </tbody>
      </table>

   </div>






  <!--  <h2>Stock Prices for {{ ibm }}</h2>
   <ul>
      <li *ngFor="let info of objectValues(allStockInfo)">
         {{ info['1. open'] }}, {{ info['2. high'] }}, {{ info['3. low'] }}, {{ info['4. close'] }}, {{ info['5.
         volume'] }}
         </li>


      <li>{{ objectValues(allStockInfo)[0]['1. open'] }}, {{ objectValues(allStockInfo)[0]['2. high'] }}, {{
         objectValues(allStockInfo)[0]['3. low'] }}, {{ objectValues(allStockInfo)[0]['4. close'] }}, {{
         objectValues(allStockInfo)[0]['5. volume'] }}</li>
      <br>
      <li>{{volume}}</li>
   </ul> -->





</div>